<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>adminUser</welcome-file>
        <!-- Redirect to servlet instead of directly to JSP -->
    </welcome-file-list>
    <servlet>
        <servlet-name>AdminUserMngServlet</servlet-name>
        <servlet-class>controller.AdminUserMngServlet</servlet-class>
        <!-- Correct package -->
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>controller.HomeServlet</url-pattern>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminUserMngServlet</servlet-name>
        <url-pattern>/adminUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminContentServlet</servlet-name>
        <servlet-class>controller.AdminContentMngServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminContentServlet</servlet-name>
        <url-pattern>/adminContent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminReportServlet</servlet-name>
        <servlet-class>controller.AdminReportMngServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminReportServlet</servlet-name>
        <url-pattern>/adminReport</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminAdvertisementServlet</servlet-name>
        <servlet-class>controller.AdminAdvertisementMngServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminAdvertisementServlet</servlet-name>
        <url-pattern>/adminAdvertisement</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminAuditLogServlet</servlet-name>
        <servlet-class>controller.AdminAuditLogMngServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminAuditLogServlet</servlet-name>
        <url-pattern>/adminAuditLog</url-pattern>
    </servlet-mapping>
</web-app>
